<div class="contact-container">
    <p>Contact me via email: <span class="glitch" data-text="daioho@proton.me">daioho@proton.me</span></p>
    <ul class="social-links">
        <li><a href="https://discord.com/users/395833288733753355" class="glitch-link" data-text="Discord">Discord</a></li>
        <li><a href="https://www.roblox.com/users/1994274635/profile" class="glitch-link" data-text="Roblox">Roblox</a></li>
        <li><a href="https://github.com/daioh11" class="glitch-link" data-text="GitHub">GitHub</a></li>
    </ul>
</div>
