---
layout: default
---
<section id="welcome">
    <h2 class="glitch" data-text="My Skillset">My Skillset</h2>
    <div class="digital-frontier-box">
        <p>Engines:</p>
        <ul>
            <li>Roblox Studio</li>
            <li>Godot</li>
            <li>Unity</li>
        </ul>
        <p>Areas of Experience:</p>
        <ul>
            <li>Gameplay Programming</li>
            <li>Modular Architecture</li>
            <li>Combat & Ability Systems</li>
            <li>Client-Server Architecture</li>
            <li>UI Development</li>
            <li>Game Systems</li>
            <li>Debugging & Bug Fixing</li>
            <li>Code Optimization</li>
            <li>Character Systems</li>
            <li>Data & Save Systems</li>
            <li>Animation Systems</li>
        </ul>
        <p>2 years of experience with Roblox Studio and Godot Engine. And 1 year experience with Unity.</p>
        <a href="{{ '/about' | relative_url }}" class="glitch-link" data-text="Learn More">Learn More</a>
    </div>
</section>

<section id="featured-projects">
    <h2 class="glitch" data-text="Featured Projects">Featured Projects</h2>
    {% include featured_projects.html %}
    <a href="{{ '/projects' | relative_url }}" class="glitch-link">View All Projects</a>
</section>

<section id="contact">
    <h2 class="glitch" data-text="Contact">Contact</h2>
    {% include contact.html %}
</section>
