---
layout: default
---
<section id="welcome">
    <h2 class="glitch" data-text="My Skillset">My Skillset</h2>
    <div class="digital-frontier-box">
        <p>Programming Languages:</p>
        <ul>
            <li>Luau</li>
            <li>GDScript</li>
            <li>Python</li>
            <li>C#</li>
            <li>C++</li>
            <li>Java</li>
        </ul>
        <p>2 years of experience with Roblox Studio and Godot Engine. And 1 year experience with Unity.</p>
        <a href="{{ site.baseurl }}{{ '/about/' | relative_url }}" class="glitch-link" data-text="Learn More">Learn More</a>
    </div>
</section>

<section id="featured-projects">
    <h2 class="glitch" data-text="F34tur3d Pr0j3cts">F34tur3d Pr0j3cts</h2>
    {% include featured_projects.html %}
    <a href="{{ '/projects' | relative_url }}" class="glitch-link">View All Pr0j3cts</a>
</section>

<section id="featured-articles">
    <h2 class="glitch" data-text="Kn0wl3dge B4se">Kn0wl3dge B4se</h2>
    {% include featured_articles.html %}
    <a href="{{ '/blog' | relative_url }}" class="glitch-link">Access Full Arch1ve</a>
</section>

<section id="contact">
    <h2 class="glitch" data-text="C0nt4ct">C0nt4ct</h2>
    {% include contact.html %}
</section>
